.navbar{
  display: flex;
  flex-direction: row;
}

.navbar-left {
  display: flex;
  overflow: hidden;
  align-items: center;
}

.navbar-right {
  display: flex;
  margin-left: auto;
  max-width: 50%;
  align-items: center;
}

.navbar a, .navbar div {
  color: #000;
  text-decoration: none;
  padding: 0.4em;
  display: flex;
  font-size: 20px;
  font-family: 'Roboto';
}

.navbar a:hover {
  text-decoration: underline;
}

.logo-search {
  text-align: center;
  display: flex;
  flex-direction: column;
}

#google-logo {
  width: 370px;
}

#search-bar {
  border-radius: 55px;
  height: 50px;
  width: 85%;
  max-width: 800px;
  border: 1px solid #d4d4d4;
  margin: 20px 0px 25px 0px;
  outline: none;
  background-image: url(https://cdn2.iconfinder.com/data/icons/education-3-25/48/129-512.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 2% 50%;
  padding-left: 40px;
}

.search-buttons {
  align-items: center;
  margin-left: 5px;
  border-radius: 5px;
  border-color: #ffffff;
  background-color: #f3f3f3;
  border-width: 0px;
  padding: 10px 15px;
  text-decoration: none;
}

.material-icons-outlined.md-36 { font-size: 36px; }
.material-icons-outlined.md-36:hover { 
  background-color: lightgrey;
  border-radius: 50%;
}

.material-icons.md-48 { font-size: 48px; }
.material-icons.md-48:hover {
  background-color: lightgrey;
  border-radius: 50%;
}

.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 15px;
  bottom: 0;
  width: 100%;
  position: absolute;
  background-color:  #f2f2f2;
  color: #808080;
}

/*this feels incredibly wrong*/
#footer-bottom, #footer-bottom div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
  color: #727272;
}